page-login-component {

  .content, .footer {
    background-color: map-get($colors, light);
  }

  ion-grid ion-row {
    padding: 10px 10px 10px 10px;
    width: 100%
  }

  ion-row.number-row.row {
    padding: 40px 10px 0 10px;
  }

  ion-row.password-row.row,
  ion-row.without-login-row.row {
    padding: 0 10px 10px 10px;
  }

  ion-row .center {
    text-align: center;
  }

  /* height is now dynamically assigned */
  .logo-row {
    //height: 140px;
    //line-height: 140px;
  }

  /* height is now dynamically assigned */
  #imageHolder {
    width: 70%;
    //height: 140px;
    //line-height: 140px;
    margin: auto auto auto auto;
  }

  #imageHolder img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
  }

  ion-row .light-text {
    color: map_get($colors, font-grey);
    text-decoration: underline;
    font-size: 85%;
  }

  ion-row ion-input {
    font-size: larger;
    padding: 0 0;
    border-bottom: dotted grey 0.5px;
  }

  .number-input {
    padding-right: 3.4rem;
  }

  .number-row .camera-icon {
    font-size: 3.2rem;

    position: absolute;
    top: 1.0rem;
    right: 1.0rem;

    z-index: 1;
  }

}
