page-login-component {
  ion-input{
    border-bottom: dotted grey 0.5px;
  }
input.text-input.text-input-md.ng-pristine.ng-valid{
  margin : 1vh;
}
  .img-div{
    background: url('../assets/icon/bsw-logo.png')no-repeat;
    height: 30vh;
    width: 60vw;
    overflow: hidden;
    background-size: contain;
    left:50%;
    margin: 0 auto;
  }
  .distance-div{
    height: 13vh;
  }
  .scroll-content{
    background-color: map-get($colors, light);
  }
  ion-item.item.item-block.item-md{
    background-color: map-get($colors, light);
  }
  div.center-text{
    text-align: center;
    p.no-login{
      //margin-bottom: 8vh;
      color: map_get($colors, font-grey);
      text-decoration: underline;
      font-size: 85%;
    }
    p.no-password{
      color: map_get($colors, font-grey);
      font-size: 85%;
      margin-bottom: 0.5vh;
    }
    p.no-member{
      margin-bottom: 1vh;
      color: map_get($colors, font-grey);
      font-size: 85%;
      margin-top: 1vh;
    }
  }
  .footer-md::before{
    content: none;
  }
  ion-footer{
    margin-bottom: 1vh;
    padding: 0 4vw;
  }
  div.input-cover{
    padding: 0;
  }
  div.input-fields-wrapper{
  margin: 0 8vw;
  font-size: larger;
  }
  div.card-number-wrapper{
    position: relative;
  }
  ion-icon.camera{
    position: absolute; top: 0.75vh; right: 0;
  }
  div.password-wrapper{
    margin-top: 2vh;
    position: relative;
  }
  div.forgot-hyperlink{
    position: absolute; top: 1vh; right: 0;
    color:#E61B5A;
  }
}


