page-partner-detail-component {
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: map_get($colors, grey) !important;
  }
  img.big-logo-img{
  }
  div.my-image-wrapper{

  }
  div.online-partner-div{
    width: 100%;
    display: block;
  }
}
