<ion-header>
  <ion-navbar primary>
    <ion-title>
      {{partner?.nameOrigin}}
    </ion-title>
    <ion-buttons end>
      <button (click)="toggleFavorites()" *ngIf="favoritesByPfArray">
        <ion-icon name="star-outline" color="grey" *ngIf="!isInFavorites" class="favorites-icon"></ion-icon>
        <ion-icon name="star" color='primary' *ngIf="isInFavorites" class="favorites-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>
  <img src="{{partnerDetails?.logoUrl}}" onError="this.src='http://www.bsw.de/upload/bsw/partner-logo.png'">
  <div class="offline-partner" *ngIf="offlinePartner">
    <div class="partner-details">
      <div class="titleAndButton">
        <h3 class="title">{{partner?.nameOrigin}}</h3>
        <div tappable class="btn-pill" (click)='goToPartnerDetailMap()'>
          <div class="btn-pill-text">
            Zur Karte
          </div>
          <div class="centerMapIcon">
            <div class="mapIcon"></div>
          </div>
        </div>
      </div>
      <p class="grey">{{partnerDetails?.waBezeichnung}}</p>
      <p class="grey">{{partnerDetails?.strasse}} {{partnerDetails?.hausnummer}}, {{partnerDetails?.ort}}</p>
      <div class="description" *ngIf="partnerDetails?.kurzBeschreibung">
        {{partnerDetails?.kurzBeschreibung}}
      </div>
    </div>
  </div>

  <div class="online-partner" *ngIf="!offlinePartner">
    <div class="partner-details">
      <div class="titleAndButton">
        <h3 class="title small">{{partner?.nameOrigin}}</h3>
          <div tappable class="btn-pill online-partner" (click)="checkIfUserLoggedIn()">
            <div class="btn-pill-text">
              Online einkaufen
            </div>
          </div>
      </div>
      <p class="grey">{{partnerDetails?.waBezeichnung}}</p>
      <div class = "paymentIcons">
        <div class = "paymentIcon girocard"></div>
        <div class = "paymentIcon maestro"></div>
        <div class = "paymentIcon masterCard"></div>
        <div class = "paymentIcon klarna"></div>
        <div class = "paymentIcon vorkasse"></div>
        <div class = "paymentIcon paypal"></div>

      </div>
      <div class="description" *ngIf="partnerDetails?.kurzBeschreibung">
        {{partnerDetails?.kurzBeschreibung}}
      </div>
    </div>
  </div>

  <div *ngIf="partnerDetails?.aktionen">
    <ion-row class="title-row">
      <ion-col class="title">
        <p class="title-paragraph">Aktuelles Angebot</p>
      </ion-col>
    </ion-row>
    <img src="{{partnerDetails?.aktionen[0].bildUrl}}">
    <div class="partner-details aktion">
      {{partnerDetails?.aktionen[0].aktionstext}}
    </div>
  </div>

</ion-content>
