<ion-header>
  <ion-navbar primary>
    <ion-title>
      {{partnerDetails?.nameInternet}}
    </ion-title>
    <ion-buttons end>
      <button (click)="toggleFavorites()" *ngIf="favoritesByPfArray && securityToken">
        <ion-icon name="star-outline" color="grey" *ngIf="!isInFavorites" class="favorites-icon"></ion-icon>
        <ion-icon name="star" color='primary' *ngIf="isInFavorites" class="favorites-icon"></ion-icon>
      </button>
      <button *ngIf="!favoritesByPfArray">
        <ion-icon name="search" color="grey" class="search-button-header" style="visibility: hidden"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="white-background">
    <div class="center-image">
      <img src="{{partnerDetails?.logoUrl}}" onError="this.src='http://www.bsw.de/upload/bsw/partner-logo.png'">
    </div>
  </div>

  <div class="partner-details">


    <div class="buttonsWrapper">

      <ion-row float-right>

        <button ion-button outline color="red" round tappable (click)='goToPartnerDetailMap()' class="button-map"
                    *ngIf="partnerDetails?.ort">
          Zur Karte
          <img class="button-icon" src="assets/icon/map-pink.svg"/>

        </button>

        <button ion-button outline color="red" round tappable (click)="goToPartnerShop(false)"
                    *ngIf="partnerDetails?.trackingUrl">
          Online einkaufen
        </button>

      </ion-row>
    </div>
    <div *ngIf="partnerDetails?.waEb">
      <span class="blue" [innerHTML]="partnerDetails?.waEb | formatTelephoneNumber"></span>
      <span class="grey">{{partnerDetails?.waBezeichnung}}</span>
    </div>
    <div *ngIf="partnerDetails?.wbEb" class="second-bonus">
      <span class="blue">{{partnerDetails?.wbEb}}</span>
      <span class="grey">{{partnerDetails?.wbBezeichnung}}</span>
    </div>
    <div *ngIf="partnerDetails?.wcEb" class="second-bonus">
      <span class="blue">{{partnerDetails?.wcEb}}</span>
      <span class="grey">{{partnerDetails?.wcBezeichnung}}</span>
    </div>
    <div *ngIf="partnerDetails?.wdEb" class="second-bonus">
      <span class="blue">{{partnerDetails?.wdEb}}</span>
      <span class="grey">{{partnerDetails?.wdBezeichnung}}</span>
    </div>
    <div *ngIf="partnerDetails?.weEb" class="second-bonus">
      <span class="blue">{{partnerDetails?.weEb}}</span>
      <span class="grey">{{partnerDetails?.weBezeichnung}}</span>
    </div>
    <div *ngIf="partnerDetails?.wfEb" class="second-bonus">
      <span class="blue">{{partnerDetails?.wfEb}}</span>
      <span class="grey">{{partnerDetails?.wfBezeichnung}}</span>
    </div>
    <div *ngIf="partnerDetails?.wgEb" class="second-bonus">
      <span class="blue">{{partnerDetails?.wgEb}}</span>
      <span class="grey">{{partnerDetails?.wgBezeichnung}}</span>
    </div>
    <div *ngIf="partnerDetails?.aktionsbonus">
      <span class="blue">{{partnerDetails?.aktionsbonus}}</span>
      <span class="grey">Aktionsbonus</span>
    </div>
    <p *ngIf="partnerDetails?.ort"><b>Ort:</b> {{partnerDetails?.strasse}} {{partnerDetails?.hausnummer}},
      {{partnerDetails?.plz}} {{partnerDetails?.ort}}</p>
    <p *ngIf="partnerDetails?.tel && partnerDetails?.ort"><b>Tel.:</b> {{partnerDetails?.tel}}</p>

    <div class="paymentIcons" *ngIf="zmIcons.length">
      <div *ngFor="let iconUrl of zmIcons">
        <img src="{{iconUrl}}">
      </div>
    </div>
    <div class="description">
      <div *ngIf="partnerDetails?.kurzBeschreibung"
           [innerHtml]="partnerDetails?.kurzBeschreibung">
      </div>
      <span class="toggleDisplay showMore" *ngIf="!showDetails" tappable (click)="showDetails = !showDetails">Mehr anzeigen</span>
      <span class="toggleDisplay showLess" *ngIf="showDetails && partnerDetails?.aktionen" tappable
            (click)="showDetails = !showDetails">Weniger anzeigen</span>
    </div>
    <div *ngIf="showDetails">
      <div *ngIf="partnerDetails?.abwicklungVorort">
        <span class="blue title">Vorteil Vor Ort</span>
        <div class="description" *ngIf="partnerDetails?.abwicklungVorort"
             [innerHtml]="partnerDetails?.abwicklungVorort"></div>
      </div>
      <div *ngIf="partnerDetails?.abwicklungOnline">
        <span class="blue title">Vorteil Online</span>
        <div class="description" [innerHtml]="partnerDetails?.abwicklungOnline"></div>
      </div>
    </div>
  </div>


  <div class="aktion" *ngIf="partnerDetails?.aktionen">
    <ion-row class="title-row">
      <ion-col class="title">
        <p class="title-paragraph">Aktuelles Angebot</p>
      </ion-col>
    </ion-row>
    <img class="aktionImage" src="{{partnerDetails?.aktionen[0].bildUrl}}">
    <div class="partner-details aktion">
      <div [innerHTML]="partnerDetails?.aktionen[0].aktionstext"></div>
    </div>
  </div>

  <div class="footer" *ngIf="partnerDetails?.fussnote" [innerHTML]="partnerDetails?.fussnote"></div>

  <div class="footer offline" *ngIf="partnerDetails?.offline">
    Die verwendeten Daten stammen aus einer früheren Sitzung und sind möglicherweise veraltet. Stellen Sie eine Internetverbindung her um die Daten zu aktualisieren.
  </div>

</ion-content>

<!--<div class = "paymentIcons">
   <div class = "paymentIcon girocard"></div>
   <div class = "paymentIcon maestro"></div>
   <div class = "paymentIcon masterCard"></div>
   <div class = "paymentIcon klarna"></div>
   <div class = "paymentIcon vorkasse"></div>
   <div class = "paymentIcon paypal"></div>
 </div>-->
