scan-number-page-component {
  .scroll-content{
    background-color: map_get($colors, light);
  }
  div.footer-text{
    text-align: center;
    h3{
     color: map-get($colors, secondary);
      margin-top: 4vh;
    }
    p{
      color: grey;
      line-height: 3.5vh;
    };
  };
  ion-footer{
    background-color: map-get($colors, light);
    -webkit-box-shadow: 0px -10px 48px -4px rgba(0,0,0,0.77);
    -moz-box-shadow: 0px -10px 48px -4px rgba(0,0,0,0.77);
    box-shadow: 0px -10px 48px -4px rgba(0,0,0,0.77);
  };
  .button-padding{
    margin: 2vh 3vw 3vh 2vh;
  }
  div.back{
    margin: 3vh 3vw 2vh 3vw;
    button{
      background-color: map-get($colors,light);
      color: grey;
    }
  }

  div.img-div{
    background: url('../assets/icon/scanScreenPreview.png')no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: contain;
  }

}
