<ion-header>
  <ion-navbar primary>
    <ion-buttons left>
      <button menuToggle>
        <ion-icon name="menu" color="grey" class="menu-button-header"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button>
        <ion-icon name="search" color="grey" class="search-button-header" style="visibility: hidden"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="header-title">
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item *ngIf = "dataProtectionScreen">
    <div item-content>User Tracking deaktivieren</div>
    <ion-toggle item-right [(ngModel)]="disallowUserTracking" color="light-blue" mode="ios"
                [class.checked]="disallowUserTracking"></ion-toggle>
  </ion-item>
  <iframe #iframe
          [src]="url | safe"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          frameBorder="0"
          *ngIf="!noWebViewUrlsAvailable && !cachedContent"></iframe>
  <div class = "displayCachedContent" [innerHTML] = "cachedContent"></div>
  <ion-row *ngIf="noWebViewUrlsAvailable">
    <ion-item text-wrap>
      Wir können Ihnen derzeit keinen Screen anzeigen. Bitte loggen Sie sich aus und erneut wieder ein.
    </ion-item>
  </ion-row>
</ion-content>

