<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860620525720-ot2jf50cv2u8n0901dt81sb0mcdsh024.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860620525720-ot2jf50cv2u8n0901dt81sb0mcdsh024</string>
	<key>API_KEY</key>
	<string>AIzaSyAZWtsWDUCubR4QFe1qkYrQkAv4d7G5BIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>860620525720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionicframework.app459066</string>
	<key>PROJECT_ID</key>
	<string>bsw-app-5fab1</string>
	<key>STORAGE_BUCKET</key>
	<string>bsw-app-5fab1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860620525720:ios:80fa7a9043c6af94</string>
	<key>DATABASE_URL</key>
	<string>https://bsw-app-5fab1.firebaseio.com</string>
</dict>
</plist>