<ion-header>
  <ion-navbar primary>
    <ion-title>
      {{partnerDetails?.nameInternet}}
    </ion-title>
    <ion-buttons end>
      <button (click)="toggleFavorites()">
        <ion-icon name="star-outline" color="grey" *ngIf="!isInFavorites" class="favorites-icon"></ion-icon>
        <ion-icon name="star" color='primary' *ngIf="isInFavorites" class="favorites-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <sebm-google-map
    [latitude]="49"
    [longitude]="11"
    [zoomControl] = "false">
    <sebm-google-map-circle [latitude]="currentLatitude"
                            [longitude]="currentLongitude"
                            [fillColor]="'red'"
                            [circleDraggable]="false"
                            [editable]="true"
                            [strokeColor] = "'red'"
                            *ngIf="locationExact">
    </sebm-google-map-circle>

    <styled-map-partner-details (travelTimePublicUpdated)="handleTravelTimePublicUpdated($event)"
                                (travelTimeCarUpdated)="handleTravelTimeCarUpdated($event)"
                                (travelTimePedestrianUpdated) ="handleTravelTimePedestrianUpdated($event)"
                                [partner] = "partner"
    ></styled-map-partner-details>
  </sebm-google-map>

  <div class="goToRoute" *ngIf="travelTimeAvailable">
  <div class="icons">
    <div class="public-transport transport">
      <ion-icon name = "bus" color = "primary"></ion-icon>
      <p>{{travelTimePublic}}</p>
    </div>
    <div class="car transport">
      <ion-icon name = "car" color = "primary"></ion-icon>
      <p>{{travelTimeCar}}</p>
    </div>
    <div class="pedestrian transport">
      <ion-icon name = "walk" color = "primary"></ion-icon>
      <p>{{travelTimePedestrian}}</p>
    </div>
  </div>
  <div tappable class="route" (click)="openExternalMapApp()">
    <p  class="btn-pill">Route</p>
  </div>
</div>

  <div class="goToRoute center" *ngIf="!travelTimeAvailable">
    <div tappable class="route" (click)="openExternalMapApp()">
      <p class="btn-pill center">Route</p>
    </div>
  </div>

  <div class="adress-div">
    <h3>{{partnerDetails?.nameInternet}}</h3>
    <p>{{partnerDetails?.kurzBeschreibung}}</p>
    <p>{{partnerDetails?.strasse}} {{partnerDetails?.hausnummer}}, {{partnerDetails?.ort}}</p>
  </div>

</ion-content>

