<ion-header>
  <ion-navbar primary>
    <ion-title>
      Matt Optik
    </ion-title>
    <ion-buttons end>
      <button (click)="toggleFavorites()">
        <ion-icon [name]="star.name" [color]="star.color" class="add-favourite-button-header"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <sebm-google-map
    [latitude]="49"
    [longitude]="11"
    [zoomControl] = "false">
    <sebm-google-map-marker [latitude] = "48.1300" [longitude] = "11.5700"></sebm-google-map-marker>
    <sebm-google-map-circle [latitude]="currentLatitude" [longitude]="currentLongitude"
                            [fillColor]="'red'"
                            [circleDraggable]="true"
                            [editable]="true"
                            *ngIf="locationAvailable">
    </sebm-google-map-circle>

    <styled-map-partner-details (travelTimePublicUpdated)="handleTravelTimePublicUpdated($event)"
                                (travelTimeCarUpdated)="handleTravelTimeCarUpdated($event)"
                                (travelTimePedestrianUpdated) ="handleTravelTimePedestrianUpdated($event)"
    ></styled-map-partner-details>
  </sebm-google-map>

  <div class="goToRoute">
  <div class="icons" *ngIf="travelTimePublic || travelTimePedestrian || travelTimePedestrian">
    <div class="public-transport transport">
      <ion-icon name = "bus" color = "primary"></ion-icon>
      <p>{{travelTimePublic}}</p>
    </div>
    <div class="car transport">
      <ion-icon name = "car" color = "primary"></ion-icon>
      <p>{{travelTimeCar}}</p>
    </div>
    <div class="pedestrian transport">
      <ion-icon name = "walk" color = "primary"></ion-icon>
      <p>{{travelTimePedestrian}}</p>
    </div>
  </div>
  <div tappable class="route" (click)="openExternalMapApp()">
    <p  class="btn-pill">Route</p>
  </div>
</div>

  <div class="goToRoute center" *ngIf="!travelTimePublic && !travelTimePedestrian && !travelTimePedestrian">
    <div tappable class="route" (click)="openExternalMapApp()">
      <p class="btn-pill center">Route</p>
    </div>
  </div>

  <div class="adress-div">
    <h3>Matt Optik</h3>
    <p>Augenoptik, Brillen, Kontaktlinsen, Ferngläser</p>
    <p>Karlsplatz 12, 12345 Eschenbach</p>
  </div>

</ion-content>

