<ion-header>
  <ion-navbar primary>
    <ion-title>
      {{partnerDetails?.nameInternet}}
    </ion-title>
    <ion-buttons end>
      <button (click)="toggleFavorites()" *ngIf="favoritesByPfArray && securityToken">
        <ion-icon name="star-outline" color="grey" *ngIf="!isInFavorites" class="favorites-icon"></ion-icon>
        <ion-icon name="star" color='primary' *ngIf="isInFavorites" class="favorites-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="footer offline" *ngIf="cached">
    Die verwendeten Daten stammen aus einer früheren Sitzung und sind möglicherweise veraltet. Stellen Sie eine Internetverbindung her um die Daten zu aktualisieren.
  </div>

  <agm-map
    [latitude]="49"
    [longitude]="11"
    [zoomControl]="false">
    <agm-circle [latitude]="currentLatitude"
                [longitude]="currentLongitude"
                [fillColor]="'red'"
                [circleDraggable]="false"
                [editable]="true"
                [strokeColor]="'red'"
                *ngIf="locationExact">
    </agm-circle>

    <styled-map-partner-details (travelTimePublicUpdated)="handleTravelTimePublicUpdated($event)"
                                (travelTimeCarUpdated)="handleTravelTimeCarUpdated($event)"
                                (travelTimePedestrianUpdated)="handleTravelTimePedestrianUpdated($event)"
                                [partner]="partner"
    ></styled-map-partner-details>
  </agm-map>

  <ion-grid class="route">

    <ion-row align-items-center justify-content-center>

      <ion-col>
        <div class="public-transport transport" *ngIf="travelTimeAvailable">
          <ion-icon name="bus" color="primary"></ion-icon>
          <p>{{travelTimePublic}}</p>
        </div>
      </ion-col>

      <ion-col>
        <div class="car transport" *ngIf="travelTimeAvailable">
          <ion-icon name="car" color="primary"></ion-icon>
          <p>{{travelTimeCar}}</p>
        </div>
      </ion-col>

      <ion-col>
        <div class="pedestrian transport" *ngIf="travelTimeAvailable">
          <ion-icon name="walk" color="primary"></ion-icon>
          <p color="primary">{{travelTimePedestrian}}</p>
        </div>
      </ion-col>

      <ion-col>
        <button ion-button outline color="red" round tappable (click)="openExternalMapApp()">Route</button>
      </ion-col>

    </ion-row>

  </ion-grid>

  <div class="address">
    <h3>{{partnerDetails?.nameInternet}}</h3>
    <p>{{partnerDetails?.kurzBeschreibung}}</p>
    <p>{{partnerDetails?.strasse}} {{partnerDetails?.hausnummer}}, {{partnerDetails?.plz}} {{partnerDetails?.ort}}</p>
    <p *ngIf="partnerDetails?.tel">Tel.: {{partnerDetails?.tel}}</p>
  </div>

</ion-content>

