<ion-header>
  <ion-navbar primary>
    <ion-buttons left>
      <button menuToggle>
        <ion-icon name="menu" color="grey" class="menu-button-header"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons end>
      <button>
        <ion-icon name="search" color="grey" class="search-button-header" style="visibility: hidden"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="startScreen" *ngIf="startScreenActive">
  <div class="explanation">
    <b *ngIf="startScreenFirstTime">
      Sie waren bei einem BSW-Partner vor Ort einkaufen, hatten aber Ihre BSW-Karte nicht zur Hand und müssten jetzt auf Ihren Vorteil verzichten?
    </b>
    <b *ngIf="!startScreenFirstTime">
      Vielen Dank für Ihre Email! Wir werden uns umgehend kümmern.
    </b>
    <br><br>
    <div *ngIf="startScreenFirstTime">
      Hier können Sie ihren Einkauf auf Kulanz nacherfassen lassen. Und so funktionierts:
      <ol>
        <li>Den Kassenzettel fotografieren</li>
        <li>E-Mail Programm zum Versand auswählen</li>
        <li>Vorausgefüllte E-Mail an BSW schicken</li>
      </ol>
      Fertig!
      Unser Mitgliederservice informiert Sie anschließend über den Status Ihrer Nacherfassung.
    </div>
    <p *ngIf="!startScreenFirstTime">
      Sie können jetzt noch einen Kassenzettel einscannen, oder sich weiter über unser Angebot informieren.
    </p>
  </div>
  <div class="buttons">
    <button tappable ion-button block color="primary" (click)="scanReceipt()" class="scanReceipt">Kassenzettel einscannen</button>
    <button tappable ion-button block (click)="getPictureFromGallery()" class="scanReceipt gallery">Bild aus Galerie auswählen</button>
  </div>



</ion-content>


