<ion-header>
  <ion-navbar primary>
    <ion-buttons left>
      <button menuToggle>
        <ion-icon name="menu" color="grey" class="menu-button-header"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons end>
      <button>
        <ion-icon name="search" color="grey" class="search-button-header"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
      <ion-card class="explanation">
        <ion-card-content>
          <b>
            Haben Sie bei einem unserer Partner eingekauft, und Ihren Bonus noch nicht angefordert?
          </b>
          <br><br>
          Sie können hier einen Scan des Kassenzettels erstellen. Wenn alles passt,
          wählen Sie im nächsten Schritt Ihr Emailprogramm aus einer Liste aus, und
          schicken dann eine vorausgefüllte Email an das BSW.<br>
          Fertig!
        </ion-card-content>
      </ion-card>
      <button (click)="scanRecipe()">Kassenzettel einscannen</button>
      <img [src]="base64Image" *ngIf="base64Image" />
      <p *ngIf="base64Image">Klicken Sie auf "Weiter" oder nehmen Sie ein anderes Foto auf.</p>
      <button (click)="sendEmail()" *ngIf="base64Image">Weiter</button>
      <p *ngIf="successMessage">{{successMessage}}</p>
</ion-content>
