<ion-header>
  <ion-navbar primary>
    <ion-buttons left>
      <button menuToggle>
        <ion-icon name="menu" color="grey" class="menu-button-header"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons end>
      <button>
        <ion-icon name="search" color="grey" class="search-button-header" style="visibility: hidden"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="startScreen" *ngIf="startScreenActive">
  <div class="explanation">
    <b *ngIf="startScreenFirstTime">
      Haben Sie bei einem unserer Partner eingekauft, und Ihren Bonus noch nicht angefordert?
    </b>
    <b *ngIf="!startScreenFirstTime">
      Vielen Dank für Ihre Email! Wir werden uns umgehend kümmern.
    </b>
    <br><br>
    <p *ngIf="startScreenFirstTime">
      Sie können hier einen Scan des Kassenzettels erstellen. <br>Wenn alles passt,
    wählen Sie im nächsten Schritt Ihr Emailprogramm aus einer Liste aus, und
      schicken dann eine vorausgefüllte Email an das BSW.
      <br>
      Fertig!
    </p>
    <p *ngIf="!startScreenFirstTime">
      Sie können jetzt noch einen Kassenzettel einscannen, oder sich weiter über unser Angebot informieren.
    </p>
  </div>

    <button tappable ion-button block color="primary" (click)="scanReceipt()" class="scanReceipt">Kassenzettel einscannen</button>
    <button tappable ion-button block color="primary" (click)="getPictureFromGallery()" class="scanReceipt gallery">Bild aus Galerie auswählen</button>

</ion-content>

