add-purchase-page {
  button.scanReceipt{
    margin: 40vh 10vw 0 10vw;
    width: 80vw;
    text-transform: none;
  }
  div.explanation{
    margin: 10vh 7vw 10vh 7vw;
    height: 30vh;
    line-height: 150%;
  }
}
