<ion-header>
  <typeahead *ngIf="searchInterfaceOpen"
             (closeSearchInterfaceEmitter)="closeSearchInterface($event)"
             (getPartnersWithSearchTermEmitter)="getPartnersWithSearchTerm($event)"></typeahead>

  <div class="standard-header" *ngIf="!searchInterfaceOpen">
    <ion-navbar primary>
      <ion-buttons left>
        <button menuToggle *ngIf="!searchInterfaceOpen">
          <ion-icon name="menu" color="grey" class="menu-button-header"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title *ngIf="!searchInterfaceOpen">
        {{title}}
      </ion-title>
      <input id="mySearchInputField"
             placeholder="Geben Sie einen Suchbegriff ein"
             (keyup)="inputToSuggestions($event)"
             [(ngModel)]="searchTerm"
             *ngIf="searchInterfaceOpen">
      <ion-buttons end>
        <button (click)="toggleMapAndList()">
          <ion-icon name="map" *ngIf='activeFilterFromMenu == "OFFLINEPARTNER"'></ion-icon>
        </button>
        <button (click)="searchInterfaceOpen = true">
          <ion-icon name="search" color="grey" class="search-button-header"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </div>


</ion-header>



<ion-content>

  <div class="wrapper-div">

    <ion-row *ngIf="!searchSuggestionsOpen" class="filter-button-row">
      <ion-col class="filter-button left-button" (click)="toggleVisibilityDropdowns(0)">
        <div class="filter-button-text" [class.notActive] = "showDropdown[1]">FILTER
          <ion-icon name="arrow-dropdown"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="filter-button" (click)="toggleVisibilityDropdowns(1)">
        <div class="filter-button-text" [class.notActive] = "showDropdown[0]">SORTIEREN
          <ion-icon name="arrow-dropdown"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <div class="filter-dropdown" *ngIf="showDropdown[1]">
      <div class="filterBy">A - Z</div>
      <div class="filterBy" (click)="showPartner(partner)">Z - A</div>
    </div>

    <div *ngIf="showDropdown[0]" class="filter-menu">
      <ion-row class="currentLocation">
        <ion-col>
          <div>Aktueller Standort</div>
        </ion-col>
        <ion-col class="map-icon">
          <ion-icon name = "map" (click)="chooseLocationManually()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div (click)="selectAll()">Alle auswählen</div>
        </ion-col>
        <ion-col>
          <div (click)="selectNone()">Auswahl aufheben</div>
        </ion-col>
      </ion-row>
      <div center class="selection" [class.selected] = "selected.Beauty" (click)="selected.Beauty = !selected.Beauty">Beauty</div>
      <div class="selection" [class.selected] = "selected.Entertainment" (click)="selected.Entertainment = !selected.Entertainment">Entertainment</div>
      <div class="selection" [class.selected] = "selected.Gesundheit" (click)="selected.Gesundheit = !selected.Gesundheit">Gesundheit</div>
      <div class="selection" [class.selected] = "selected.Wohnen" (click)="selected.Wohnen = !selected.Wohnen">Wohnen</div>
      <div class="selection" [class.selected] = "selected.Mode" (click)="selected.Mode = !selected.Mode">Mode</div>
      <div class="selection" [class.selected] = "selected.Multimedia" (click)="selected.Multimedia = !selected.Multimedia">Multimedia</div>
      <div class="selection" [class.selected] = "selected['Sport & Freizeit']" (click)="selected['Sport & Freizeit'] = !selected['Sport & Freizeit']">Sport & Freizeit</div>
        <button ion-button color="primary" (click)="filterByCategory()">Auswahl anzeigen</button>
    </div>


    <div class="initialSpinner" *ngIf="waitingForResults">
      <ion-spinner class="initialSpinner" (click)="hideDropdown()"></ion-spinner>
    </div>

    <div class="partner-table-wrapper" (click)="clickhideDropdown()" *ngIf="!showMap">
      <partner-table [partners]="displayedPartners"></partner-table>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!showMap">
      <ion-infinite-scroll-content>
        <ion-spinner class="initialSpinner"></ion-spinner>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <partner-map [partners]="localPartners" *ngIf="showMap"></partner-map>

  </div>
</ion-content>

