partner-page-component {
  div.scroll-content{
    margin-top: 0;
    background-color: map_get($colors, light);
  }
  ion-col.filter-button{
    height: 8vh;
    background-color: map_get($colors, secondary-grey);
  }
  .left-button{
     margin-right: 1.5px;
   }
  ion-row.filter-button-row{
    border-bottom: 1px solid map-get($colors, secondary);
    position: relative;
    text-align: center;
    background-color: white;
  }
  div.filter-button-text{
    color: map_get($colors, secondary);
    vertical-align: middle;
    font-size: xx-small;
    font-weight: bolder;
    line-height: 6.5vh
  }
  ion-icon{
    margin-left: 1vw;
  }

  ion-content{
    position: relative;
  }
  div.filter-dropdown{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: map_get($colors, light);
    z-index: 100;
    padding: 1vh 0 1vh 0;
    border-bottom: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    div.filterBy{
      margin-left: 1vh;
      line-height: 7vh;
      font-size: medium;
      &.disabled{
        color: grey;
      }
    }
    div.chooseLocationManually{
      color: map_get($colors, secondary);
      vertical-align: middle;
      font-size: xx-small;
      font-weight: bolder;
      line-height: 6.5vh;
      background-color: map_get($colors, secondary-grey);
      float: right;
      margin-right: 5vw;
      padding: 0 2vw 0 2vw;
      border: 1px solid map-get($colors, secondary);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
  }
  div.initialSpinner{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 85px;
    text-align: center;
  }
  ion-spinner.initialSpinner{
    width: 19% !important;
    height: 85px !important;
  }
  partner-map{
    height: 100%;
    width: 100%;
    z-index: 100;
  }
  div.wrapper-div{
    height: 100%;
    margin-top: 54px;
  }
  div.scroll-content{
    margin-top: 0px !important;
  }
}
