<ion-header>
  <ion-navbar primary>
    <ion-buttons left>
      <button menuToggle *ngIf="!searchInterfaceOpen">
        <ion-icon name="menu" color="grey" class="menu-button-header"></ion-icon>
      </button>
      <button *ngIf="searchInterfaceOpen" (click)="closeSearchInterface()">
        <ion-icon name="arrow-back" color="grey" class="menu-button-header"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!searchInterfaceOpen">
      {{title}}
    </ion-title>
    <input id="mySearchInputField"
           placeholder="Geben Sie einen Suchbegriff ein"
           (keyup) = "inputToSuggestions($event)"
           [(ngModel)]="searchTerm"
           *ngIf="searchInterfaceOpen">
    <ion-buttons end>
      <button>
        <ion-icon name={{iconRight}} color="grey" class="search-button-header" (click)="functionRightIcon()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-row *ngIf="!searchSuggestionsOpen" class="filter-button-row">
  <ion-col class="filter-button left-button" (click)="toggleVisibilityDropdowns(0)">
    <div class="filter-button-text">KATEGORIE
      <ion-icon name="arrow-dropdown"></ion-icon>
    </div>
  </ion-col>
  <ion-col class="filter-button" (click)="toggleVisibilityDropdowns(1)">
    <div class="filter-button-text">SORTIEREN
      <ion-icon name="arrow-dropdown"></ion-icon>
    </div>
  </ion-col>
</ion-row>
  <div class="filter-dropdown" *ngIf="showDropdown[0]">
    <div class="filterBy" (click)="filter('allpartners')">Alle Treffer</div>
    <div class="filterBy" (click)="filter('ONLINEPARTNER')">Online-Partner</div>
    <div class="filterBy" (click)="filter('OFFLINEPARTNER')" [class.disabled] = "!locationChosen && !locationFound">Vor-Ort-Partner<div class="chooseLocationManually" (click)="chooseLocationManually()">ORT MANUELL WÄHLEN</div></div>
    <div class="filterBy" (click)="filter('TRAVELOFFER')">Reiseangebote</div>
    <div class="filterBy" (click)="filter('VEHICLEOFFER')">Autoangebote</div>
  </div>
  <div class="filter-dropdown" *ngIf="showDropdown[1]">
    <div class="filterBy">A - Z</div>
    <div class="filterBy">Z - A</div>
  </div>
</ion-header>



<ion-content>
  <div [style.margin-top]="getMargin()">
    <div class="suggestions-wrapper" *ngIf="searchSuggestionsOpen">
      <div *ngFor="let item of searchTermCompletion" class="suggestion" (click)="completeSearchTerm(item.displayText)">{{item.displayText}}</div>
    </div>
      <div class="initialSpinner">
        <ion-spinner *ngIf="waitingForResults" class="initialSpinner"></ion-spinner>
      </div>
      <div class="partner-table-wrapper" (click)="hideDropdown()">
        <ion-row class="partner-row" *ngFor="let partner of displayedPartners">
          <ion-col class="image-col">
            <div class="white-square">
              <img src="{{partner?.logoUrl}}" onError="this.src='http://www.bsw.de/upload/bsw/partner-logo.png'">
            </div>
          </ion-col>
          <ion-col class="text-row">
            <div class="partner-text-div partner">
              <p class="partner-title">{{partner?.nameOrigin}}</p>
              <p class="partner-description">{{partner?.description | words : 10}}</p>
            </div>
          </ion-col>
          <ion-col class="bonus-col">
            <p>{{partner?.bonusA}}</p>
          </ion-col>
        </ion-row>
      </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
      <ion-spinner class="initialSpinner"></ion-spinner>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>
</ion-content>

