<ion-navbar class="searchbar">

    <ion-buttons left>

      <button ion-button icon-only (click)="closeSearchInterface()" color="grey">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

    </ion-buttons>

    <input id="mySearchInputField"
           #mySearchInputField
           placeholder="Geben Sie einen Suchbegriff ein"
           [(ngModel)]="searchTerm"
           autocomplete="false"
           spellcheck="false"
           (keyup)= "search(mySearchInputField.value, $event)">

    <ion-buttons end *ngIf="searchTerm">
      <button ion-button small icon-only (click)="deleteSearchTerm()" color="grey" class="small-button">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>

    <!--
      <ion-buttons end *ngIf='mapIcon'>
        <button (click)="toggleMapAndList()" class="mapIcon">
          <div class="mapIcon"></div>
        </button>
      </ion-buttons>
      -->

  </ion-navbar>

  <div class="backdrop" (click)="closeSearchInterface()" [style.height.px]="windowHeight"></div>

  <div class = "suggestions-wrapper" *ngIf="searchTermCompletion">
    <div tappable class = "suggestion" (click)="completeSearchTerm(item.displayText)" *ngFor="let item of searchTermCompletion | async">
      {{item.displayText}}
    </div>
  </div>
