  <ion-navbar primary>
    <ion-buttons left>
      <button (click)="closeSearchInterface($event)">
        <ion-icon name="arrow-back" color="grey" class="menu-button-header"></ion-icon>
      </button>
    </ion-buttons>
    <input id="mySearchInputField"
           #mySearchInputField
           placeholder="Geben Sie einen Suchbegriff ein"
           [(ngModel)]="searchTerm"
           (keyup)= "search(mySearchInputField.value)">
    <ion-buttons end>
      <button (click)="deleteSearchTerm()">
        <ion-icon name="close-circle" color="grey" class="search-button-header"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class = "suggestions-wrapper">
    <div class = "suggestion" (click)="completeSearchTerm(item.displayText)" *ngFor="let item of searchTermCompletion2 | async">
      {{item.displayText}}
    </div>
  </div>


