partner-table {
  div.item-inner{
    border-bottom: none !important;
  }
  div.input-wrapper{
    padding: 0 !important;
  }
  ion-item {
    border: none !important;
    padding: 0 !important;
    background-color: map_get($colors, light) !important;
  }
  row.partner-div {
    background-color: map_get($colors, light);
    overflow: hidden;
  }
  ion-row.partner-row {
    border-bottom: 0.5px solid lightgray;
    height: 25vw;
    background-color: map_get($colors, light);
    max-width: 100vw;
    overflow: hidden;
  }
  div.image {
    height: 25vw;
    min-width: 25vw;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

    margin-right: 0 !important;
  }
  div.white-square {
    height: 15vw;
    width: 15vw;
    background-color: white;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

    margin-left: auto;
    margin-right: auto;

  }

  ion-content {
    position: relative;
  }
  .title-adress-wrapper {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50vw;
    position: absolute;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;

  }

  .partner-bonus {
    color: map_get($colors, primary);
    font-size: large;
  }
  .partner-adress {
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
    color: map-get($colors, font-grey-dark);
  }
  .partner-title {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: larger;
  }
  .campaign-bonus {
    color: map_get($colors, primary);
    font-size: medium;
  }
  .bonus-title-adress-wrapper {
    display: inline;
    min-width: 75vw;
    white-space: nowrap;
    height: 25vw;
    position: relative;
    right: 2vw;
  }
}
