  <!--<ion-row class="partner-row" *ngFor="let partner of partners" (click)="showPartner(partner)">-->
    <!--<ion-col class="image-col">-->
      <!--<div class="white-square">-->
        <!--<img src="{{partner?.logoUrl}}" onError="this.src='http://www.bsw.de/upload/bsw/partner-logo.png'">-->
      <!--</div>-->
    <!--</ion-col>-->
    <!--<ion-col class="text-col">-->
      <!--<div class="partner-text-div partner">-->
        <!--<p class="partner-title">{{partner?.nameOrigin}}</p>-->
      <!--</div>-->
    <!--</ion-col>-->
    <!--<ion-col class="bonus-col">-->
      <!--<p>{{partner?.bonusA}}</p>-->
    <!--</ion-col>-->
  <!--</ion-row>-->

  <ion-row class="partner-row" *ngFor="let partner of partners" (click)="showPartner(partner)">
    <div class="image">
      <div class="white-square">
        <img src="{{partner?.logoUrl}}" onError="this.src='http://www.bsw.de/upload/bsw/partner-logo.png'">
      </div>
    </div>
    <div class="text">
      <div class="partner-text-div partner">
        <p class="partner-title">{{partner?.nameOrigin}}</p>
      </div>
    </div>
    <div class="bonus">
      <p>{{partner?.bonusA}}</p>
    </div>
  </ion-row>

