my-profile-page-component {
  div.ion-card-wrapper{
    background-color: white;
    padding: 3vh 3vw 3vh 3vw;
    ion-col{
      margin: 0;
      padding: 0;
      text-align: left;
    }
    ion-col.changePassword{
      text-align: right;
    }
    ion-row.changePassword{
      color: map-get($colors, primary);
    }
  }
  div.name{
    font-weight: bolder;
    color: map_get($colors, primary);
    padding: 2vh 0 2vh 0;
  }
  div.cardInfo{
    p{
      margin: 0;
    }
    &.password{
      margin-top: 1vh;
    }
  }

  div.profile-header-wrapper{
    background-color: map_get($colors, light);
    padding-top: 1vh;
    ion-col{
      margin: 0;
      padding: 0;
      text-align: center;
      p{
        margin: 0 2vw 1vh 0 ;
      }
    }
  }
  div.text-div{
    text-align: left;
  }
  ion-row.profile-header{
    height: 8vh;
    line-height: 8vh;
    font-size: large;
  }
  ion-col.icon-col{
    max-width: 20vw;
    padding-left: 2vw;
    div{
      height: 8vh;
      width: 13vw;
      margin-left: 3vw;
      &.bonus-overview{
        background-size: contain;
        background: url('../assets/icon/vorteilsuebersicht.svg')no-repeat;
      }
      &.personal-data{
        background-size: contain;
        background: url('../assets/icon/profil.svg')no-repeat;
      }
      &.bank-data{
        background-size: contain;
        background: url('../assets/icon/bankdaten.svg')no-repeat;
      }
    }
  }
  ion-col.text-col{
    max-width: 80vw;
    border-bottom: 1px solid map_get($colors, font-color-for-filter-dropdown);
    color: map_get($colors, font-color-for-filter-dropdown);
  }

  div.scroll-content{
    background-color: map_get($colors, light);
  }
}


