my-profile-page-component {
    div.list-wrapper{
      background-color: map-get($colors, light);
      height: 100%;
    }
    .item-md{
      background-color: inherit;
    }
    div.scroll-content{
      overflow-y: hidden;
    }
    div.menu-title{
      width: 100%;
      padding: 1vh 0 1vh 1vw;
      margin-left: 2vw;
    }
    .menu-title-icon, .menu-title{
      display: inline-block;
      color: grey;
      text-transform: none;
      font-size: larger;
    }
    ion-icon{
      width: 4vw;
    }
    .item-block{
      line-height: 2vh;
    }
    .list-wrapper{
      padding-top: 3vh;
    }
  button.title-button{
    border: 1px solid grey;
    text-align: left;
    border-top: none;
  }
    div.profile-menu-title{
      font-size: 3vh;
    }
    div.item.item-block.item-md{
      background-color: white;
    }
    .button-md{
      margin: 0;
    }
    .button-outline-md{
      box-shadow: inherit;
    }
  form input, form select{
    background-color: map-get($colors, light);
    font-size: smaller;
  }
  form label{
    font-size: smaller;
  }
  div.item-inner{
    padding-right: 0;
  }
  div.item-md{
    padding-right: 0;
    padding-left: 2vw;
  }
  button[type="submit"]{
    background-color: map-get($colors, primary);
    color: white;
  }
  .item-block{
    min-height: 0;
  }
}
