change-password-modal {
  div.ion-card-wrapper {
    background-color: white;
    padding: 3vh 3vw 3vh 3vw;
    ion-item {
      border-bottom: 1px solid grey !important;
    }
    button {
      margin-top: 3vh !important;
    }
    input.text-input text-input-md ng-pristine ng-valid ng-touched {
      border: 2px solid black;
    }
    ion-content {
      background-color: map_get($colors, light);
    }
    //this is to remove the green/red borders that appear on the input fields automatically
    .item-md.item-input.input-has-focus .item-inner {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }

    .list-md .item-input.input-has-focus:last-child {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }

    .list-md .item-input.input-has-focus:last-child .item-inner {
      box-shadow: none;
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
      box-shadow: none;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }

    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }
  }

}


