ion-content{
  background-color: map-get($colors, light);
}

ion-header{
	button {
		background: transparent;
	}
	ion-title{
		text-align: center;
    color: map-get($colors, secondary);
	}
  .menu-button-header, .search-button-header, .add-favourite-button-header{
    font-size: 4vh;
    margin: 0 3vw;
  }

}
ion-header .toolbar-title-md{
  color: map-get($colors, secondary);
}

.back-button .disable-hover .bar-button .bar-button-md .back-button-md .bar-button-default .bar-button-default-md .show-back-button{
  color: map-get($colors, secondary);
}
ion-navbar.toolbar.toolbar-md{
  background-color: map-get($colors, light);
}

ion-menu{
  div.logo{
    background: url('../assets/icon/bsw-logo.png')no-repeat;
    height: 16vh;
    width: 32vh;
    overflow: hidden;
    background-size: contain;
    left:50%;
    margin: 0 auto;
  }
  div.logo-wrapper{
    padding: 6vh 0;
    background-color: white;
  }
  div.list-wrapper{
    background-color: map-get($colors, light);
    height: 100%;
  }
  .item-md{
    background-color: inherit;
  }
  div.scroll-content{
    overflow-y: hidden;
  }
  .logoutButton{
    min-height: 12vh;
  }
  .footer-md::before{
    content: none;
  }
  div.menu-title{
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 1vh 0 1vh 1vw;
    margin-left: 2vw;
  }
  .menu-title-icon, .menu-title{
    display: inline-block;
    color: grey;
  }
  ion-icon{
    width: 4vw;
  }
  .item-block{
    line-height: 2vh;
  }
  .list-wrapper{
    padding-top: 3vh;
  }
  ion-list.pages-personal{
    margin-top: 4vh;
  }
}




