<ion-menu [content]="content" class="no-scroll">


  <ion-content class="no-scroll">
    <div class="logo-wrapper">
      <div class="logo"></div>
    </div>
  <div class="list-wrapper">
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pagesGeneral" (click)="openPage(p)">
        <ion-icon name={{p.icon}} class="menu-title-icon" color="grey" *ngIf="!p.parameters.icon"></ion-icon>
        <div *ngIf="p.parameters.icon" [style.background-image]="'../assets/icon/' + p.parameters.icon" class="customizedIcon"></div>
        <div class="menu-title">{{p.title}}</div>
      </button>
    </ion-list>
    <ion-list no-lines class="pages-personal">
      <button menuClose ion-item *ngFor="let p of pagesPersonal" (click)="openPage(p)">
          <ion-icon name={{p.icon}} class="menu-title-icon" color="grey"></ion-icon>
          <div class="menu-title">{{p.title}}</div>
      </button>
    </ion-list>
    <ion-footer>
        <button menuClose ion-item (click)="openPage(pageExit)" class="logoutButton">
          <ion-icon name={{pageExit.icon}} class="menu-title-icon" color="grey"></ion-icon>
          <div class="menu-title">{{pageExit.title}}</div>
        </button>
    </ion-footer>
  </div>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
