ion-content {
  background-color: map-get($colors, light);
}

button{
  text-transform: none !important;
}

  .back-button {
    color: map_get($colors, grey) !important;
  }


* {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

.scroll-content {
  overflow-y: auto !important;
}

[tappable]:active{
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  -ms-touch-action: manipulation;
  touch-action: manipulation;

}

ion-header {
  button {
    background: transparent;
  }
  ion-title {
    text-align: center;
    color: map-get($colors, secondary);
  }
  .menu-button-header, .search-button-header, .add-favourite-button-header {
    font-size: 2em;
    margin: 0 3vw;
  }
}

ion-header .toolbar-title-md {
  color: map-get($colors, secondary);
}

.back-button .disable-hover .bar-button .bar-button-md .back-button-md .bar-button-default .bar-button-default-md .show-back-button {
  color: map-get($colors, grey) !important;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
  color: map-get($colors, grey) !important;
}

ion-navbar.toolbar.toolbar-md {
  background-color: map-get($colors, light);
}

ion-menu {
  background-color: white !important;
  div.logo {
    background: url('../assets/icon/bsw-logo.png') no-repeat;
    height: 20vh;
    width: 40vh;
    overflow: hidden;
    background-size: contain;
    margin-left: 4.5vw;
    max-height: 250px;
    max-width: 250px;
  }
  div.logo-wrapper {
    padding: 5vh 0 1vh 0;
    background-color: white;
    ion-row.salutation{
      display: flex;
      justify-content: center;
      color: map_get($colors, font-color-for-filter-dropdown);
      margin-bottom: 1vh;
      max-height: 4vh !important;
      ion-item{
        font-size: small;
        max-height: 4vh !important;
        background-color: white;
      }
    }
  }
  .item-md {
    background-color: inherit;
    padding-left: 3vw!important;
  }
  div.scroll-content {
    overflow-y: hidden;
  }
  .logoutButton {
    min-height: 12vh;
  }
  .footer-md::before {
    content: none;
  }
  div.menu-title {
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 1vh 0 1vh 1vw;
    margin-left: 2vw;
  }
  .menu-title-icon, .menu-title {
    display: inline-block;
    color: grey;
  }
  .list-wrapper {
    padding-top: 3vh;
    overflow-y: scroll;
    background-color: map-get($colors, light);
    height: 100%;
    div.icon {
      &.offline {
        background: url('../assets/icon/vorortpartner.svg') no-repeat;
        background-size: contain;
      }
      &.online {
        background: url('../assets/icon/onlinepartner.svg') no-repeat;
        background-size: contain;
      }
      &.add-purchase {
        background: url('../assets/icon/bonusnacherfassen.svg') no-repeat;
        background-size: contain;
      }
      &.overview {
        background: url('../assets/icon/uebersicht.svg') no-repeat;
        background-size: contain;
      }
      &.my-profile {
        background: url('../assets/icon/profil.svg') no-repeat;
        background-size: contain;
      }
      &.settings{
        background: url('../assets/icon/einstellungen.svg')no-repeat;
        background-size: contain;
      }
      &.contact{
        background: url('../assets/icon/kontakt.svg')no-repeat;
        background-size: contain;
      }
      &.sign-out{
        background: url('../assets/icon/logout.svg')no-repeat;
        background-size: contain;
      }
      height: 11vw;
      width: 11vw;
      max-height: 30px;
      max-width: 30px;
    }
    .page-title {
      font-size: 120%;
      color: map_get($colors, font-color-for-filter-dropdown);
      &.inactive{
        color: darkgrey;
      }
    }
    ion-row.page{
      &.get-large-distance{
        margin-bottom: 4vh !important;
      }
      &.get-small-distance{
        margin-bottom: 3vh !important;
      }
    }
    ion-item{
      max-height: 1.8vh !important;
      background-color: map-get($colors, light);
    }
  }


}




