page-overview {
  ion-col{
    margin: 0;
    padding: 0;
    text-align: center;
    p{
      margin: 0 0 1vh 0 ;
    }
  };
  div.bars{
    margin: 6vh 5vw 0 5vw;
    background-color: white;
    p{
      color: map-get($colors, font-grey-dark);
    }
  }
  div.bar{
    height: 14vh;
    width: 44vw;
    &.blue{
      background-color: map_get($colors, secondary);
      margin-right: 2vw;
    }
    &.red{
      background-color: map_get($colors, primary);
    }
  }
  div.moneyDetailsAccount{
    background-color: map_get($colors, light);
  }
  div.text-div{
    text-align: left;
    font-size: 90%;

    //max-width: 80%;
  }
  ion-row.money-detail-row{
    height: 14vw;
    line-height: 14vw;
  }
  ion-col.icon-col{
    max-width: 15vw;
  }
  ion-col.col{
    padding: 0;
  }
  div.icon{
    &.piggyBank{
      background: url('../assets/icon/sparschwein.svg')no-repeat;
      background-size: contain;
    }
    &.coins{
      background: url('../assets/icon/muenzen.svg')no-repeat;
      background-size: contain;
    }
    height: 11vw;
    width: 11vw;
    overflow: hidden;
    left:50%;
    margin: 0 auto;
    margin-top: 1.5vw;
    margin-left: 5vw;
  }
  ion-col.text-col{
    max-width: 65vw;
    margin-left: 5vw;
  }
  ion-col.bonus-col{
    max-width: 20vw;
    padding-left: 0;
  }

  ion-row.balance-row {
    border-top: 0.5px solid grey;
  }

  ion-row.summary-row ion-col.text-col, ion-row.summary-row ion-col.bonus-col{
    border-top: 1px solid grey;
  }

  div.initialSpinner{
    padding-top: 21vh;
    text-align: center;
  }
  ion-row.title-row{
    background-color: map-get($colors, light-grey);
    height: 8vh;
  }
  button.more{
    color: map-get($colors, font-grey-dark);
    font-size: large;
    font-weight: bold;
    background: transparent !important;
    box-shadow: none;
    padding: 0 2vw !important;
    height: 6vh;
  }
  ion-col.more{
    text-align: right;
  }
  ion-col.title{
    color: map-get($colors, font-grey-dark);
    font-size: large;
    line-height: 8vh;
    text-align: left;
    width: 80vw;
  }
  p.title-paragraph{
    margin: 0 0 0 5vw;
  }

  ion-col.footer-col.col {
    font-size: x-small;
    padding: 10px;
  }

}
