partner-map {
  .sebmGoogleMap {
    width: 100%;
    z-index: 1;
    position: fixed;
    border-bottom: 1px solid grey;
  }
  .sebm-google-map-container {
    height: 100%;
    width: 100%;
  }
  .hidePartnerList {
    text-align: center;
    padding-top: 0.5vh;
    height: 4vh;
    width: 100%;
    font-size: 150%;
    background-color: map_get($colors, light);
  }
  .partner-list-wrapper {
    margin-top: 53vh;
    overflow-y: scroll !important;
  }

  div.initialSpinner {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 2000;
    background-color: lightgray;
    opacity: 0.5;
    ion-spinner {
      margin-top: 30vh;
    }
  }
  ion-scroll {
   height: 100%;
  }
}

