<div class="sebmGoogleMap" [style.height] = "getMapHeight()">
  <sebm-google-map
    [latitude]="stringToNumber(currentLatitude)"
    [longitude]="stringToNumber(currentLongitude)"
    [zoomControl] = "false">
    <sebm-google-map-circle [latitude]="stringToNumber(currentLatitude)" [longitude]="stringToNumber(currentLongitude)"
                            [fillColor]="'red'"
                            [circleDraggable]="true"
                            [editable]="true">
    </sebm-google-map-circle>
    <styled-map-partners [partners]="partners" (showList) = "showList($event)" (removeList)="removeList(event)" (addList)="addList(event)"></styled-map-partners>
  </sebm-google-map>
  <div tappable class="hidePartnerList" (click)="closePartnerList()"  *ngIf="partnerListOpen">
    <ion-icon name = "arrow-dropdown" color = "grey"></ion-icon>
  </div>
</div>
<div class="partnerList" *ngIf="partnerListOpen">
  <partner-table [partners]="partnersInList"></partner-table>
</div>

