partner-map {
  .sebm-google-map-container {
    height: 50%;
    width: 100%;
    z-index: 1;
    //position: fixed;
  }
  .hidePartnerList{
    text-align: center;
    border-top: 1px solid grey;
    padding: 1vh 0;
  }
}
