<div class="sebmGoogleMap" [style.height]="getMapHeight()" style="overflow: hidden">
  <sebm-google-map
    [latitude]="stringToNumber(currentLatitude)"
    [longitude]="stringToNumber(currentLongitude)"
    [zoomControl]="false"
    [zoom]="14">
    <sebm-google-map-circle [latitude]="stringToNumber(currentLatitude)"
                            [longitude]="stringToNumber(currentLongitude)"
                            [fillColor]="'red'"
                            [circleDraggable]="false"
                            [editable]="true"
                            *ngIf="locationExact">
    </sebm-google-map-circle>
    <styled-map-partners
      (fillList)="showList($event)"
      (removeList)="removeList(event)"
      (addList)="addList(event)"
      [justPartnersWithCampaign$]="justPartnersWithCampaign$"
      [justPartnersWithCampaign]="justPartnersWithCampaign"
      [searchTerm$]="searchTerm$"
      [searchTerm]="searchTerm"
    ></styled-map-partners>
  </sebm-google-map>
  <div class="initialSpinner" *ngIf="waitingForResults">
    <ion-spinner class="initialSpinner"></ion-spinner>
  </div>
  <div tappable class="hidePartnerList" (click)="closePartnerList()" *ngIf="partnerListOpen">
    <ion-icon name="arrow-dropdown" color="grey"></ion-icon>
  </div>
</div>

<div #partnerList [scrollTop]="scrollTop" class="partner-list-wrapper">
  <div tappable class="hidePartnerList" (click)="closePartnerList()" *ngIf="partnerListOpen">
    <ion-icon name="arrow-dropdown" color="grey"></ion-icon>
  </div>
  <div class="partnerList" *ngIf="partnerListOpen">
    <partner-table [partners]="partnersInList" (showPartnerEventEmitter)="showPartner($event)"></partner-table>
  </div>
</div>


