partner-map {
  .map-container {
    width: 100%;
    border-bottom: 1px solid grey;
  }
  agm-map {
    height: 100%;
    width: 100%;
  }
  .hidePartnerList {
    text-align: center;
    padding-top: 0.5vh;
    height: 5vh;
    width: 100%;
    font-size: 150%;
    background-color: map_get($colors, light);
    z-index: 200;
    ion-icon{
      z-index: 200;
    }
  }

  div.initialSpinner {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 2000;
    background-color: lightgray;
    opacity: 0.5;
    ion-spinner {
      margin-top: 30vh;
    }
  }

}

