/**
 * Just some custom css needed for viewing the specs (especially
 * ng2/ionic components) in the browser
 */

#root0 {
  margin-bottom: 300px;
}

ion-row {
  display: block;
  margin: 20px 10px;
}

ion-col {
  /*display: block;*/
}

.checkbox {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
.checkbox.checked {
  background-color: green;
}
[hidden] {
  display: none;
}
